* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background-color: #252525;
}

#screen {
  display: none;
  width: 100%;
  height: 100vh;
  background: black url(assets/images/object-3.png);
  overflow: hidden;
}

#controller {
  text-align: center;
  height: 100vh;
  text-align: center;
}

#play {
  background-color: red;
  color: white;
  font-size: 2rem;
  border: 0;
  display: inline;
  cursor: pointer;
}

.person,
.enemy,
.little-cat,
.tree {
  display: inline-block;
  position: absolute;
}

.person {
  background: url(assets/images/object-primary.png) 0 0 no-repeat;
  z-index: 99999;
}

.tree {
  background: url(assets/images/object-4.png) 0 0 no-repeat;
  background-size: 288px 288px;
  z-index: 2
}

.enemy {
  background: url(assets/images/object-1.png) 0 0 no-repeat;
  background-size: 90px 45px;
  z-index: 1;
}

.little-cat {
  background: url(assets/images/object-2.png) 0 0 no-repeat;
  z-index: 10;
}

.animation-asas {
  animation: linear 1s asas;
}

@keyframes asas {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -45px 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: -45px 0;
  }
  100% {
    background-position: 0 0;
  }
}